nvdl/soap-consumer-ruleml.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <namespace ns="http://www.w3.org/2003/05/soap-envelope">
    <validate schema="../relaxng/external/soap.xsd"
      schemaType="application/xml"/>
  </namespace>  
  <namespace ns="http://ruleml.org/spec">
    <validate
      schema="http://consumer.ruleml.org/1.03/relaxng/drivers/consumer-relaxed.rnc"
      schemaType="application/relax-ng-compact-syntax"/>
    
  </namespace>
  
</rules>